TRONGRID_BASE_URL=https://api.trongrid.io
TRONGRID_API_KEY=
TRON_NETWORK=tron-mainnet
ETHERSCAN_BASE_URL=https://api.etherscan.io/v2/api
ETHERSCAN_API_KEY=
ETC_BLOCKSCOUT_BASE_URL=https://etc.blockscout.com/api
ETC_BLOCKSCOUT_API_KEY=
TATUM_BASE_URL=https://api.tatum.io
TATUM_API_KEY=
HELIUS_RPC_URL=https://mainnet.helius-rpc.com/
HELIUS_API_KEY=
XRPL_RPC_URL=https://s2.ripple.com:51234/
CHAINTRACE_API_TOKEN=
PORT=8080
RUST_LOG=chaintrace_api=info,tower_http=info
